<div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 220px;">
  <mat-card fxFlex="40" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="forgetForm" (ngSubmit)="forget()">

      <div fxLayoutAlign="center center">
        <h3 style="font-size: 25px;">
          <span style="color: rgb(196, 84, 9);">F</span>
          <span style="color: rgb(196, 9, 9);">u</span>
          <span style="color: rgb(37, 196, 9);">n</span>
          <span style="color: rgb(21, 9, 196);">d</span>
          <span style="color: rgb(211, 41, 129);">o</span>
          <span style="color: rgb(25, 79, 125);">o</span>
        </h3>
      </div>

      <div fxLayoutAlign="center center">
        <h2>Find your email</h2>
      </div>
      <h3>Enter your Phone number or recovery email</h3>
      <div fxLayoutAlign="center center" >
        <mat-form-field  fxFlex=""appearance="outline">
          <mat-label>Phone number or Email</mat-label>
          <input matInput placeholder="phone number or email" formControlName="email">
          <mat-error> phone number or email is required</mat-error>
        </mat-form-field>
      </div>

      <div fxLayoutAlign="end end" fxLayoutGap="300px">

        <button mat-raised-button color="primary">Next</button>

      </div>
    </form>
  </mat-card>
</div>