mat-card{
    width:  350px;
    height:200px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
    max-width: 1000px;
    margin-bottom: 50px;
    float: left;  
   
}
  .pin
 {
    // height: 20px;
     margin-left:150px ;  
 }
 .button
 {
     margin-right:  220px;
 }
 .title{
    border: none;
 }

  
 