<mat-card class="mat-card">
    <div>
        <div fxLayout="row">
            <div>
                <input type="text" [(ngModel)]="title">
            </div>
            <div class="pin">
                <img style="margin-left:auto" src="assets\image\pin.svg" alt="Image">
            </div>
        </div>
        <br>
        <div>
            <input type="text" [(ngModel)]="discription">
        </div>
        <br><br><br>
        <div class="icon">
            <app-icons></app-icons>
            <button type="button" class="button" (click)="updateNote()" >Close</button>
        </div>      
    </div>
    
</mat-card>