<mat-card *ngFor="let Notes of notelistArray.reverse()  | search : Serchstring " class="mat-card"  [style.background]="Notes.color">
    <div>
        <div fxLayout="row"  (click)="openDialog(Notes)"   >
            <div>
                {{Notes.title}}
            </div>
            <div class="pin">
                <img style="margin-left:auto" src="assets\image\pin.svg" alt="Image">
            </div>
        </div>
        <br>
        <div (click)="openDialog(Notes)">
            {{Notes.discription}}
        </div>
        <br><br><br>
        <!-- <div>{{Notes.noteID}}</div> -->
        <div class="icon">
            <app-icons (Autorefresh)="datareceivefromiconcomponents()"   [noteID]="Notes.noteID"></app-icons>
        </div>
    </div>
</mat-card>