<mat-card *ngFor="let Notes of notelistArray" class="mat-card">
    <div>
        <div fxLayout="row">
            <div>
                {{Notes.title}}
            </div>
            <div class="pin">
                <img   style="margin-left:auto" src="assets\image\pin.svg" alt="Image">
            </div>
        </div>
        <br>
        <div>
            {{Notes.discription}}
        </div>
        <br><br><br>
        <div class="icon">
            <app-icons></app-icons>
        </div>


    </div>



</mat-card>