.main {
    // width: 50%;
    // height:10px;
    margin-top: 30px;
    width: 600px;
    height: 47px;
    //display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border-radius: 11px;
    // box-shadow: -2px -0px 7px 2px;

}



.searchBar {
    border: none;
    outline: none;
   // width:200px;
    //text-decoration: darkblue;
}

.input {
    outline: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:medium;

}

.main2 {
    width: 600px;
    border-radius: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 30px;
    height:155px;
}
.button
{
    border: none;
    outline: none;
    padding-bottom: -10px;
}