<div fxLayout="50" fxLayoutAlign="center center" style="margin-top: 90px;">
<mat-card fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
  <form  [formGroup]="registerForm" (ngSubmit)="register()">
    <div>
      <div>
        <h3 style="font-size: 30px;">
          <span style="color: rgb(196, 84, 9);">F</span>
          <span style="color: rgb(196, 9, 9);">u</span>
          <span style="color: rgb(37, 196, 9);">n</span>
          <span style="color: rgb(21, 9, 196);">D</span>
          <span style="color: rgb(211, 41, 129);">o</span>
          <span style="color: rgb(25, 79, 125);">o</span>
        </h3>
      </div>
      <h1>Create Your Fundoo Account</h1>
      <h3>to continue to Fundoo</h3>
      <div>
        <div>
          <div fxLayoutGap="10px">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <mat-error> First Name is required</mat-error>
              <input matInput placeholder="First Name" formControlName="firstName">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <mat-error> Last Name is required</mat-error>
              <input matInput placeholder="Last Name" formControlName="lastName">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Email</mat-label>
              <mat-error> email is required</mat-error>
              <input matInput placeholder="email" formControlName="email">
              <mat-hint>you can use letter,number & periods</mat-hint>
            </mat-form-field>
          </div>

        </div>
        <div>
          <div fxLayoutGap="10px">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <mat-error> password is required</mat-error>
              <input matInput placeholder="password" formControlName="password">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>ConfirmPassword</mat-label>
              <mat-error> confirmPassword is required</mat-error>
              <input matInput placeholder="Comfirm" formControlName="confirmPassword">
            </mat-form-field>
          </div>

          <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>

          <div>

          </div>
          <mat-checkbox>Show Password</mat-checkbox>
        </div>
      </div>
      <br><br><br>
      <div fxLayoutGap="260">
        <a routerLink="/login">Sign in instead</a>
        <button mat-raised-button color="primary">Next</button>
      </div>
    </div>
  </form>
  
  <div>
    <div class="image" fxLayoutAlign="center center">
      <img src="assets\image\account.svg" alt="Image">
    </div>
    <h4 fxLayoutAlign="center center">One account. All of
      Fundoo</h4>
    <h4 fxLayoutAlign="center center"> working for you.</h4>
  </div>
</mat-card>
</div>