<div fxLayout="row">
    <div fxLayoutGap="20px">
        <img style="margin-right:auto; opacity: 0.5;" src="assets\image\r.svg" alt="Image">
        <img style="margin-right:auto; opacity: 0.5;" src="assets\image\c.svg" alt="Image">
        <img style="margin-right:auto; opacity: 0.5;" src="assets\image\s.svg" alt="Image">
        <img style="margin-right:auto; opacity: 0.5;" src="assets\image\p.svg" alt="Image">
        <img style="margin-right:auto; opacity: 0.5;" src="assets\image\a.svg" alt="Image">
        <img style="margin-right:auto; height: 25px; opacity: 0.5;" src="assets\image\m.svg" alt="Image">
    </div>
</div>
